body {
    background:rgb(243, 241, 241);
    font-family: verdana;
    max-width: 900px;
    margin:auto;
}
.photo{
    border: 1px solid #000000;
    border-radius: 90px;
}
#title, .subtitle, .post_title {
    color: rgb(0, 0, 0);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: line-through;
    color: #505050
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
    background: rgb(255, 255, 255);
    padding: 15px;
    border: 3px solid rgb(245, 237, 237);
    margin: 15px;
    border-radius: 10px;
    text-transform: capitalize;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}
.contacts_list{
    list-style-type: none;
    padding-left: 22px
}
.contacts_list li a {
    text-decoration: none;
}